Gestion_brasserie2021_CHIARELLI_THOMAS/obj/Debug/netcoreapp3.1
.vs/Gestion_brasserie2021_CHIARELLI_THOMAS/DesignTimeBuild
.vs/Gestion_brasserie2021_CHIARELLI_THOMAS/v16
Gestion_brasserie2021_CHIARELLI_THOMAS/bin/Debug/netcoreapp3.1
